*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    background-color: #FF6900;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    font-weight: 400;
    box-shadow: 0px 2px 0px #1a1a1a70;;
    
}

ul{
    list-style-type: none;
    
}

.flex{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.border{
    border: 2px dashed;
}

/*   Intestazione   */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.img-header{
    height: 40px;
    width: auto;
}

/*  Corpo del sito  */

main{
    padding-top: 150px;
}

.card{
    width: calc(1200px/3);
    height: 580px;  
}

.card img{
    width: 100%;
    height: auto;
    display: block;
    

}
